<%= render partial: "shared/mini_search" %>

<div class="search-results">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <%= render partial: "shared/sidebar" %>

        <div class="result-list">
           <div class="result-summary">
             <p>找到<strong><%= @websites.count %></strong>条结果(<%= @waste_time %>秒)
          </div>

          <%= render partial: "shared/websites", locals: { websites: @websites} %>
          <div class="clearfix"></div>
          <%= paginate @websites %>
        </div>
      </div>
    </div><!--/row-->
  </div> <!-- /container -->
</div>
