<%- model_class = Website -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:target) %></th>
      <th><%= model_class.human_attribute_name(:port) %></th>
      <th><%= model_class.human_attribute_name(:webapp) %></th>
      <th><%= model_class.human_attribute_name(:http_server) %></th>
      <th><%= model_class.human_attribute_name(:os) %></th>
      <th><%= model_class.human_attribute_name(:headers) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:keywords) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:body) %></th>
      <th><%= model_class.human_attribute_name(:check_time) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= link_to website.id, website_path(website) %></td>
        <td><%= website.target %></td>
        <td><%= website.port %></td>
        <td><%= website.webapp %></td>
        <td><%= website.http_server %></td>
        <td><%= website.os %></td>
        <td><%= website.headers %></td>
        <td><%= website.title %></td>
        <td><%= website.keywords %></td>
        <td><%= website.description %></td>
        <td><%= website.body %></td>
        <td><%= website.check_time %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_website_path(website), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      website_path(website),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_website_path,
            :class => 'btn btn-primary' %>
