<div class="search-result-page">
  <table>
    <tr>
      <th class="target">Target</th>
      <th class="http_server">http_server</th>
      <th class="os">os</th>
      <th class="title">title</th>
    </tr>

    <% @websites.each do |u| %>
      <tr class="list">
        <td class="target"><%= u.target %></td>
        <td class="http_server"><%= u.http_server %></td>
        <td class="os"><%= u.os %></td>
        <td class="title"><%= u.title %></td>
      </tr>
    <% end %>
  </table>

  <%= link_to root_path, class: "back" do %>
    <i class="fa fa-arrow-left"> Back</i>
  <% end %>
</div>
