<div class="narbar-wrapper">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "主页", root_path%></li>
            <li><%= link_to "关于", "#" %></li>
            <li><%= link_to "Cpanel", cpanel_root_path %></li>
            <li><%= link_to "外网", hosts_path %></li>
            <li><%= link_to "Intranet", intranets_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right login-tip">
            <% if user_signed_in? %>
                <%=  current_user.email %>
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            <% else %>
                <%= link_to "Sign in", new_user_session_path%> or <%= link_to "Sign up", new_user_registration_path %>
            <% end %>
          </ul>
        </div>

    </div>
  </nav>
</div>
