<ul class="result device">
<% websites.each do |website| %>
  <li>
    <h3>
      <a class="title" href="<%= website.target %>"><%= website.title ? website.title : website.ip %></a>
    </h3>

    <hr>
    <article class="port">
      <ul class="tags">
        <li class="ip">
          <a href=""><%= website.ip %></a>
        </li>
        <% if website.server != "Unknown" %>
        <li class="server">
          <a href=""><%= website.server %></a>
        </li>
        <% end %>
        <% if website.os%>
        <li class="os">
          <a href=""><%= website.os %></a>
        </li>
      <% end %>
      </ul>
      <div class="keywords">
      </div>
      <div class="timestamp">
          <i class="iconfont icon-time"></i>
          <span>Added on <%= website.check_time.strftime('%m.%d.%Y')%></span>
      </div>
    </article>

    <section class="banner">
        <header>
          <i><%= website.port %></i>
          <s>http</s>
        </header>
        <pre class="expand">
<% if website.keywords %>
keywords: <%= website.keywords  %>

<%end%>
<%= website.headers %>
        </pre>
    </section>
  </li>
<% end %>
</ul>
