<%= simple_form_for([:cpanel,@scan_task]) do |f| %>
  <%= f.error_notification %>

    <div class="form-group string optional scan_task_tool">
      <%= label_tag :tool, "Tool:", class: "string optional control-label" %>
      <%= f.select :tool, ["zmap","test"] %>
    </div>
    <%= f.input :targets_list, placeholder: "10.0.1.1,192.168.10.0/24"%>
    <%= f.input :ports_list, placeholder: "22,80"%>
    <%= f.input :describe, placeholder: "外网留空" %>

    <hr>
    <%= f.button :button, "提交", class: "btn btn-info btn-right" %>
<% end %>

