<div class="container">
<h1>Listing Scan Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Types</th>
      <th>Targets</th>
      <th>Ports</th>
      <th>Describe</th>
      <th>Updated_at</th>
      <th>Output</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scan_tasks.each do |scan_task| %>
      <tr>
        <td><%= scan_task.type %></td>
        <td><%= scan_task.targets %></td>
        <td><%= scan_task.ports %></td>
        <td><%= scan_task.describe %></td>
        <td><%= scan_task.updated_at.strftime("%F %T") %></td>
        <td><%= scan_task.output %></td>
        <td><%= scan_task.status %></td>
        <td><%= link_to 'Show', [:cpanel,scan_task] %></td>
        <td><%= link_to 'Destroy', [:cpanel,scan_task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scan task', new_cpanel_scan_task_path %>
</div>
