<div class="container"
<p id="notice"><%= notice %></p>

<p>
  <strong>Targets:</strong>
  <%= @scan_task.targets.join(", ") %>
</p>

<p>
  <strong>Ports:</strong>
  <%= @scan_task.ports.join(", ") %>
</p>

<p>
  <strong>Describe:</strong>
  <%= @scan_task.describe %>
</p>


<p>
  <strong>Status:</strong>
  <%= @scan_task.status %>
</p>

<p>
  <strong>Output:</strong>
<%= @scan_task.output.join(",") %>
</p>

<hr>

<p>
  <strong>Created_at</strong>
  <%= @scan_task.created_at %>
</p>

<p>
  <strong>Updated_at</strong>
  <%= @scan_task.updated_at %>
</p>

<pre class="task_logs">
<%= @scan_task.logs.join("\n") %>
</pre>

<hr>

<%= link_to 'Edit', edit_cpanel_scan_task_path(@scan_task) %> |
<%= link_to 'Back', cpanel_scan_tasks_path %>
</div>
