<p id="notice"><%= notice %></p>

<p>
  <strong>Targets:</strong>
  <%= @scan_task.targets %>
</p>

<p>
  <strong>Ports:</strong>
  <%= @scan_task.ports %>
</p>

<p>
  <strong>Describe:</strong>
  <%= @scan_task.describe %>
</p>

<p>
  <strong>Time:</strong>
  <%= @scan_task.time %>
</p>

<p>
  <strong>Output:</strong>
  <%= @scan_task.output %>
</p>

<p>
  <strong>Status:</strong>
  <%= @scan_task.status %>
</p>

<%= link_to 'Edit', edit_scan_task_path(@scan_task) %> |
<%= link_to 'Back', scan_tasks_path %>
